apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  - path: patch-resources.yaml
    target:
      kind: Deployment
      name: scheduler-task

images:
  - name: inkspace-scheduler-task-image # 对应 Base 中的占位符
    newName: iceymoss/inkspace-scheduler-task    # 替换为真实的镜像
    newTag: "1.0"            # 替换 Tag
